name: Test application
on:
  pull_request:
jobs:
  static-code-analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: 22
          cache: npm
      - uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-node-${{ hashFiles('package-lock.json') }}
          path: ~/.npm
      - name: Install dependencies
        run: npm install
      - name: Typecheck
        run: npm run build
      - name: ts-standard
        run: npm run test
  validate_kustomize:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install kubectl
      run: |
        curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
        chmod +x kubectl
        sudo mv kubectl /usr/local/bin/
    - name: Validate base configuration
      run: |
        kubectl kustomize k8s/base > /dev/null
        echo "Base configuration is valid"
